/* Navigation bar  */

#navbar{
    flex-direction: column;
 }
 
 #navbar ul{
     margin-right: 680px;
 }
 
 #navbar ul li a{
     margin-bottom: 150px;
     font-size: 1rem;
     padding: 0px 7px;
     padding-bottom: 8px;
 }
 
 /* Home section */
 
 #about{
     display: inline-block;
     flex-direction: column;
     padding: 55px 80px;
   }
 
   #about::before{
     content: "";
     position: absolute;
     background: url(img/bg6.jpg) no-repeat center center/cover ; 
     height: 80%;
     width: 105%;
     top: 0px;
     left: 0px;
     z-index: -1;
     opacity: 0.70;
   }
 
   .aboutus {
    justify-content: center;
    text-align: center;
   }
   
   .aboutus h3{
    font-size: 0.7rem;
   }
   
 .circle {
   display: none;
   }
 
/* afterabout */
#maincontent{
  justify-content: center;
  text-align: center;
  margin-top: 22rem;
  font-size: 0.5rem;
}

.content p{
  margin: 2rem auto;
}

.line{
  width: 550px;
  margin: 3rem auto;
}

   /* button of home page  */
   .btn {
     margin-left: 5rem;
     width: 90px;
     height: 30px;
     color: white;
     background-color: rgba(255, 0, 0, 0.8);
     border-radius: 40px;
     text-align: center;
     font-size: 0.9rem;
   }
 
   .btn:hover{
     display: none;
   }
   
 /* Social media  */
 .socialmedia{
     margin-top: 352px;
 }
 
 .copyright {
     font-size: 0.8rem;
     padding-bottom: 2rem;
   }
 